#===========================#
#  Redstage Magento Partner  #
#===========================#

#--------------------------#
# Environments             #
#--------------------------#
/homologacao/

#--------------------------#
# Global Files Types  #
#--------------------------#
/.modgit
/.bashrc
/node_modules
/.dev-alias
/.ssh
.svn*
*.bkp
*.bkp*
*.old
js_bkp
js.old
sitemap.xml
*.log
*.sql
*.tar.*
*.gz
*.rar
*.zip
*.bz2
*.bz
*.tgz
*.gzip
*.tb2
*.tbz2
*.pdf
*.phar
*.log
*.swm
*.swn
*.swp
*.swo
.DS_Store
/.bash_*
/.mysql_*
/magmi

#--------------------------#
# IDE Project Files/Folder #
#--------------------------#
/nbproject
/.idea
/.phpintel
sftp-config.json
.phpstorm.meta.php
deployment-config.json
.remote-sync.json

#--------------------------#
# XDebug Extension         #
#--------------------------#
remote_log

#--------------------------#
# FPC                      #
#--------------------------#
app/etc/fpc.xml

#--------------------------#
# NGinx Specific Ignores   #
#--------------------------#
50x.html
404.html


#--------------------------#
# Magento Specific Ignores #
#--------------------------#
/*.sample
/app/etc/local.xml
/app/code/local/Zend
/app/code/local/Varien
/downloader
/var
/var/cache
/var/session
/var/log
/var/report
/var/locks
/var/tmp
/var/package
/var/ait_*
/var/full_page_cache
/var/import
/var/export
/var/importexport
/var/resource_config.json
/var/backups
/includes/src
/media
.magentointel-cache/
LICENSE.html
LICENSE.txt
LICENSE_AFL.txt
LICENSE_EE.html
LICENSE_EE.txt
README_VARNISH_CACHE.txt
RELEASE_NOTES.txt
index.php.sample
php.ini.sample
